body{
font-family: Arial;
margin: 0;
padding: 0;
background-color: #ffffff;
}

header{
background-color: #ffd6e7;
text-align: center;
padding: 25px;
color: #7a2c4b;
}

.encabezado h1,
.encabezado h2,
.encabezado h3{
margin: 5px;
}

section{
padding: 25px;
margin: 25px;
background-color: #ffffff;
border-radius: 10px;
border: 2px solid #ffd6e7;
box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

h2{
color: #e75480;
}

footer{
background-color: #ffd6e7;
color: #7a2c4b;
text-align: center;
padding: 12px;
margin: 25px;
border-radius: 10px;
}

a:hover{
color: #e75480;
}
